# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-510/blob/main/book/labs/lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [153]:
city_name = "New York City"
city_population = 8336817
city_area = 783.8
Coordinates = (40.7128, -74.0060)

In [152]:
Density = city_population / city_area
print(f"The population density of {Density} people per square mile in {city_name}")

The population density of 10636.408522582293 people per square mile in New York City

In [154]:
Latitude, Longitude = Coordinates
print(f"Latitude: {Latitude}, Longitude: {Longitude}")

Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [14]:
city = "San Francisco"

In [16]:
city.lower()

'san francisco'

In [17]:
city.upper()

'SAN FRANCISCO'

In [18]:
city.replace("San", "Los")

'Los Francisco'

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [74]:
cities = [
    ("New York City", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298),
]

In [75]:
cities.append(("Miami", 25.7617, -80.1918))

In [76]:
cities

[('New York City', 40.7128, -74.006),
 ('Los Angeles', 34.0522, -118.2437),
 ('Chicago', 41.8781, -87.6298),
 ('Miami', 25.7617, -80.1918)]

In [77]:
cities[:2]

[('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [45]:
eiffel_tower = 48.8584, 2.2945

In [46]:
Latitude = eiffel_tower[0]
Longitude = eiffel_tower[1] 
print(f"latitude {Latitude} and longitude {Longitude}.")

latitude 48.8584 and longitude 2.2945.

In [47]:
eiffel_tower[0] = 48.8585

TypeError: 'tuple' object does not support item assignment

**What happens?**:
The code returns an error saying that 'tuple' does not support item assignment.

**Explanation**:
Tupels are immutable. Values within the tuple cannot be changed. The only way to change it to replace the entire tuple.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [49]:
visited = ["Belgium", "Togo", "Ghana", "Nigeria"]
visited = set(visited)

In [50]:
visited.add("USA")

In [51]:
visited.add("USA")

In [52]:
print("Countries I have visited so far:" , visited)

Countries I have visited so far: {'Togo', 'Belgium', 'Ghana', 'Nigeria', 'USA'}

The duplicate did not show up in the final list although adding USA twice did not return any errors.

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [53]:
river = {
    "name": "Amazon_River",
    "Length": "6400km",
    "Countries": ["Brazil", "Peru", "Colombia"],
}

In [54]:
river["discharge"] = "209000m^3/s" # add a new key-value pair

In [55]:
river["Length"] = "6992km" # update the value of an existing key

In [56]:
print("updated river features:" , river)

updated river features: {'name': 'Amazon_River', 'Length': '6992km', 'Countries': ['Brazil', 'Peru', 'Colombia'], 'discharge': '209000m^3/s'}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [57]:
data = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates": (35.6895, 139.6917),
}

In [ ]:
data["Name"] #access and print the city name

'Tokyo'

In [62]:
data["Coordinates"][0] #access and print city's latitude

35.6895

In [63]:
data["Population"] = 14000000 #update the population

In [64]:
print("updated dictionary:" , data)

updated dictionary: {'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [78]:
cities.sort()
cities

[('Chicago', 41.8781, -87.6298),
 ('Los Angeles', 34.0522, -118.2437),
 ('Miami', 25.7617, -80.1918),
 ('New York City', 40.7128, -74.006)]

In [79]:
city_names = [city for city, _, _ in cities]
city_names

['Chicago', 'Los Angeles', 'Miami', 'New York City']

In [81]:
print("updated city names list", city_names[:-1])

updated city names list ['Chicago', 'Los Angeles', 'Miami']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [82]:
river["Length"]

'6992km'

In [84]:
print("all keys int he disctionary" , river.keys())

all keys int he disctionary dict_keys(['name', 'Length', 'Countries', 'discharge'])

In [85]:
print("all values in the dictionary" , river.values())

all values in the dictionary dict_values(['Amazon_River', '6992km', ['Brazil', 'Peru', 'Colombia'], '209000m^3/s'])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [86]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [99]:
values = []

for names in locations:
    new_list = names[0]
    values.append(new_list)
print("new list of values" , values)

new list of values ['Mount Everest', 'K2', 'Kangchenjunga']

In [101]:
new = [names for names, lat, lon in locations]
new

['Mount Everest', 'K2', 'Kangchenjunga']

In [102]:
locations2 = {names: (lat, lon) for names, lat, lon in locations}
locations2

{'Mount Everest': (27.9881, 86.925),
 'K2': (35.8808, 76.5155),
 'Kangchenjunga': (27.7025, 88.1475)}

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [104]:
tour = "Mt Afadjato"

In [105]:
tour.upper()

'MT AFADJATO'

In [129]:
tour.lower()

'mt afadjato'

In [191]:
update = tour + ", " "Ghana"
update

'Mt Afadjato, Ghana'

In [139]:
repeat = "-".join([str(update)] * 3)
repeat

"('Mt Afadjato', 'Ghana')-('Mt Afadjato', 'Ghana')-('Mt Afadjato', 'Ghana')"

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [146]:
Coord = "40.7128N, 74.0060W"
lat, lon = Coord.split(", ")
latitude = float(lat[:-1])
longitude = float(lon[:-1])
print(f"Parsed Coordinates: {latitude}, {longitude}")

Parsed Coordinates: 40.7128, 74.006

In [147]:
wkt_point = f"POINT({longitude} {latitude})"
print(wkt_point)

POINT(74.006 40.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [165]:
table_name = "cities"
condition = "population > 10000"
condition2 = "density < 1000"
condition3 = "highway % 2 = 0"
sql_query = f"SELECT * FROM {table_name} WHERE {condition} AND {condition2} OR {condition3}"
print(sql_query)

SELECT * FROM cities WHERE population > 10000 AND density < 1000 OR highway % 2 = 0

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [184]:
african_cities = [
    "lagos", " Cairo ", "nairobi", "Cape town", "ADDIS ABABA", 
    " johannesburg", "AccrA ", "DAkar", "Kampala ", "Casablanca  "
]

In [190]:
[str(african_cities).strip().title() for african_cities in african_cities]

['Lagos',
 'Cairo',
 'Nairobi',
 'Cape Town',
 'Addis Ababa',
 'Johannesburg',
 'Accra',
 'Dakar',
 'Kampala',
 'Casablanca']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [192]:
addresses = "123 Main St, New York, NY, 10030"
street, city, state, zipcode = addresses.split(", ")
print(f"Street: {street}, City: {city}, State: {state}, Zipcode: {zipcode}")

Street: 123 Main St, City: New York, State: NY, Zipcode: 10030

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [198]:
Coordinate_List = [
    (40.7128, -74.0060),
    (34.0522, -118.2437),
    (-41.8781, 87.6298),
    (25.7617, -80.1918),
    (48.8584, 2.2945),
    (-37.7749, -122.4194),
    (0, 22.3546),
]

In [199]:
for lat, lon in Coordinate_List:
    if lat > 0:
        print(f"{lat} is in the Northern Hemisphere")
    elif lat < 0:
        print(f"{lat} is in the Southern Hemisphere")
    else:
        print(f"{lat} is on the Equator")

40.7128 is in the Northern Hemisphere
34.0522 is in the Northern Hemisphere
-41.8781 is in the Southern Hemisphere
25.7617 is in the Northern Hemisphere
48.8584 is in the Northern Hemisphere
-37.7749 is in the Southern Hemisphere
0 is on the Equator

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [214]:
coordinates1 = [
    (34.0522, -118.2437),  # Los Angeles
    (40.7128, -74.0060),   # New York
    (51.5074, -0.1278),    # London
    (-33.8688, 151.2093),  # Sydney (negative latitude, loop should stop here)
    (35.6895, 139.6917),   # Tokyo
]

In [215]:
#Using the same coordinate_list from exercise 16
counter = 0
while counter < len(coordinates1):
    lat, lon = coordinates1[counter]
    if lat < 0:
        break
    print(f"Coordinates: {lat}, {lon}")
    counter += 1

Coordinates: 34.0522, -118.2437
Coordinates: 40.7128, -74.006
Coordinates: 51.5074, -0.1278

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [216]:
for lat, lon in Coordinate_List:
    if lon < 0:
        print(f"Coordinates: {lat}, {lon} is in the Western Hemisphere")
    elif lon > 0:
        print(f"Coordinates: {lat}, {lon} is in the Eastern Hemisphere")
    else:
        print(f"Coordinates: {lat}, {lon} is on the Prime Meridian")

Coordinates: 40.7128, -74.006 is in the Western Hemisphere
Coordinates: 34.0522, -118.2437 is in the Western Hemisphere
Coordinates: -41.8781, 87.6298 is in the Eastern Hemisphere
Coordinates: 25.7617, -80.1918 is in the Western Hemisphere
Coordinates: 48.8584, 2.2945 is in the Eastern Hemisphere
Coordinates: -37.7749, -122.4194 is in the Western Hemisphere
Coordinates: 0, 22.3546 is in the Eastern Hemisphere

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [217]:
filtered_coordinates = []
for lat, lon in Coordinate_List:
    if lat < 0:
        filtered_coordinates.append((lat, lon))
print(f"Southern Hemisphere Coordinates: {filtered_coordinates}")

Southern Hemisphere Coordinates: [(-41.8781, 87.6298), (-37.7749, -122.4194)]

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [218]:
import random

def random_coordinates():
    return random.uniform(-90, 90), random.uniform(-180, 180)

In [223]:
while True:
    lat, lon = random_coordinates()
    print(f"Random Coordinates: {lat}, {lon}")
    if lat > 50 and lon > 50:
        break

Random Coordinates: 28.749276068263143, 151.7103228670153
Random Coordinates: 86.87989170900016, 20.419274783427767
Random Coordinates: 46.24738814552117, -38.778716759091395
Random Coordinates: -60.67513632766087, -51.84987964118943
Random Coordinates: -83.00410026596846, 92.21984685072431
Random Coordinates: -37.66523809617984, -127.51228135993729
Random Coordinates: -23.01699606383906, 5.421835520390005
Random Coordinates: 57.84818766191489, 161.43438794227387

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.